.auction {
    z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    display: grid;

    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    gap: 0px;
    height: 100%;
    width: 100%;
    background-color: #4b4b4b;

}
.auction p{
    display: block;
    margin: 10px 10px 10px 10px;
}

#auction__field__info{
    display: flex;
    flex-direction: column;
    grid-row-start: 1;
    grid-column-start: 1;
    
    grid-row-end: 3;
    grid-column-end: 4;
    font-size: 8vh;
}

#field__info {

    background-color: #6DADB9;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 5;

}

#highest_bid {
    display: flex;
    background-color: #565656;
    grid-row-start: 1;
    grid-column-start: 4;
    
    grid-row-end: 3;
    grid-column-end: 6;
    font-size: 6vh;
    justify-content: center;
    align-content: center;
    align-items: center;

}
#aution__player__info{
    display: flex;
    width: 20%;
    color: black;
}

.field__wraper{
    border: solid #494949 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.field__wraper >div {
    width: 100% !important;
    height: 20% !important;
    margin: 0;
}


.interface__bankrupcy__announce{
    width: 100%;
    height: 15%;
    font-size: 10vh;
    text-align: center;
}
.interface__bankrupcy_container{
   z-index: 10;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    gap: 0px;
    height: 100%;
    width: 100%;
    background-color: #4b4b4b; 
}
#interface__bankrupcy__playerName{
    width: 100%;
    font-size: 9vh;
    text-align: center;

}
#interface__bankrupcy__Money{
    width: 100%;
    font-size: 9vh;
    text-align: center;
    
}
#interface__bankrupcy__fields{
    overflow:hidden;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}
.interface__bankrupcy__field__info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: red solid 1px;
    width: 20%;
    height: auto;
}
.interface__bankrupcy__field__info *{
    color: rgb(15, 15, 15);
    font-size: 6vh;
    
}
.interface__bankrupcy__field__info  button{
    color: rgb(29, 29, 29);
    font-size: 3vh;
}
.interface__bankrupcy__text{
    justify-content: center;
    text-align: center;
    font-size: 4vh;
    color: rgb(12, 12, 12);
}

#interface__bankrupcy__Buttons{

}
.player__info{
    font-size: 4vh;
    grid-row-start: 3;
    grid-column-start: 1;
    
    grid-row-end: 5;
    grid-column-end: 6;

    display: grid;
    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.auction__player__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player__info > *{
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
}
#player__info__0 {
    background-color: var(--player-1);
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 2;
    grid-column-end: 2;
}

#player__info__1 {

    background-color: var(--player-2);
    grid-row-start: 1;
    grid-column-start: 2;

    grid-row-end: 2;
    grid-column-end: 3;
}

#player__info__2 {

    background-color: var(--player-3);
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 2;
    grid-column-end: 4;

}

#player__info__3 {

    background-color: var(--player-4);
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 2;
    grid-column-end: 5;

}


#player__buttons__0 {
    background-color: var(--player-1);
    grid-row-start: 2;
    grid-column-start: 1;
    
    grid-row-end: 3;
    grid-column-end: 2;

}

#player__buttons__1 {

    background-color: var(--player-2);
    grid-row-start: 2;
    grid-column-start: 2;

    grid-row-end: 3;
    grid-column-end: 3;

}

#player__buttons__2 {

    background-color: var(--player-3);
    grid-row-start: 2;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 4;

}

#player__buttons__3 {

    background-color: var(--player-4);
    grid-row-start: 2;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 5;
}

.player__info button{
    font-size: 3vh;
    width: 50%;
    height: 50%;
}

.bid_button:hover .support_message{
    display: flex;
    justify-content: space-around;
    position: absolute;
}
.support_message{
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  min-width: 100px;
  max-width: 600px;
  min-height: 100px;
  max-height: 600px;
  font-size: 4vh;
  align-items: center;
  color: black;
}

.worth{
    color:white;
    background-color: #97ff8c;
}

.more_worth{
    color:white;
    font-weight: bold;
    background-color: #17e300;
}

.not_worth{
    color:white;
    background-color: #ff2b2b;
}

.Not_even_close{
    color:white;
    font-weight: bold;
    background-color: #9f0000;
}

.Pass_button{
    color:white;
    font-weight: bold;
    background-color: rgba(222, 0, 0, 1);
    background-image: linear-gradient(184deg, rgba(222, 0, 0, 1) 0%, rgba(89, 0, 0, 1) 100%);

}