.Board{
    display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px;
        height: 100%;
        width: 100%;
}

.field__name {
    font-size: 1vw;
}
.field__price{
    font-size: 1vw;
}
.Field {
     border: solid #494949 1px;
     background-color: #494949;
     display: flex;
     flex-direction: row;
     align-items: center;
     font-size: 1pt;
     color: rgb(0, 0, 0);
    justify-content:space-evenly;
 }
.Field-Left-Right {
    border: solid #494949 1px;
    background-color: #494949;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    font-size: 1pt;
    color: rgb(0, 0, 0);
}
.Field-Upper-Bottom {
    border: solid #494949 1px;
    background-color: #494949;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    font-size: 1pt;
    color: rgb(0, 0, 0);
}
.ColoredBox-1{
    border: solid #494949 1px;
    background-color: #480000;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 1pt;
    color: rgb(5, 5, 5);
    
}
.ColoredBox-2 {
    border: solid #494949 1px;
    background-color: #00ffff;
    height: 20%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    font-size: 1pt;
    color: rgb(0, 0, 0);

}
.ColoredBox-5{
    border: solid #494949 1px;
    background-color: #fa0505;
    height: 20%;
    margin-top: auto;
    width: 100%;
    font-size: 1pt;
    color: rgb(0, 0, 0);
    
}
.ColoredBox-6 {
    border: solid #494949 1px;
    background-color: #eefa05;
    height: 20%;
    margin-top: auto;
    width: 100%;
    font-size: 1pt;
    color: rgb(0, 0, 0);

}
.ColoredBox-4{
    border: solid #494949 1px;
    background-color: #fa7705;
    height: 100%;
    width: 20%;
    font-size: 1pt;
    color: rgb(0, 0, 0);

}
.ColoredBox-3 {
    border: solid #494949 1px;
    background-color: #93007f;
    height: 100%;
    width: 20%;
    font-size: 1pt;
    color: rgb(0, 0, 0);

}
.ColoredBox-7{
    border: solid #494949 1px;
    background-color: #059600;
    height: 100%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    font-size: 1pt;
    color: rgb(0, 0, 0);
}
.ColoredBox-8 {
    border: solid #494949 1px;
    background-color: #04006c;
    height: 100%;
    width: 20%;
    flex-direction: column;
    align-items: center;
    font-size: 1pt;
    color: rgb(0, 0, 0);

}
.MainBox{
    font-size: 13pt;
    color: rgb(0, 0, 0);
}
#ControlPanel{
    font-size: 3vh;
    width: 100%;
    height: 100%;
    color: white;
}
#item-0 {
    background-image: url("../images/go.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 12;
    grid-column-start: 12;

    grid-row-end: 14;
    grid-column-end: 14;

}

#item-1 {

    background-color: white;
    grid-row-start: 12;
    grid-column-start: 11;

    grid-row-end: 14;
    grid-column-end: 12;

}

#item-2 {
    background-image: url("../images/chest.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    grid-row-start: 12;
    grid-column-start: 10;

    grid-row-end: 14;
    grid-column-end: 11;

}

#item-3 {

    background-color: white;
    grid-row-start: 12;
    grid-column-start: 9;

    grid-row-end: 14;
    grid-column-end: 10;

}

#item-4 {
    background-image: url("../images/tax.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    grid-row-start: 12;
    grid-column-start: 8;

    grid-row-end: 14;
    grid-column-end: 9;

}

#item-5 {
    background-image: url("../images/train.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 12;
    grid-column-start: 7;

    grid-row-end: 14;
    grid-column-end: 8;

}

#item-6 {

    background-color: white;
    grid-row-start: 12;
    grid-column-start: 6;

    grid-row-end: 14;
    grid-column-end: 7;

}

#item-7 {
    background-image: url("../images/chance.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 12;
    grid-column-start: 5;

    grid-row-end: 14;
    grid-column-end: 6;

}

#item-8 {

    background-color: white;
    grid-row-start: 12;
    grid-column-start: 4;

    grid-row-end: 14;
    grid-column-end: 5;

}

#item-9 {

    background-color: white;
    grid-row-start: 12;
    grid-column-start: 3;

    grid-row-end: 14;
    grid-column-end: 4;

}

#item-10 {
    background-image: url("../images/Jail2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 12;
    grid-column-start: 1;

    grid-row-end: 14;
    grid-column-end: 3;

}

#item-11 {

    background-color: white;
    grid-row-start: 11;
    grid-column-start: 1;

    grid-row-end: 12;
    grid-column-end: 3;

}

#item-12 {
    background-image: url("../images/light.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 10;
    grid-column-start: 1;

    grid-row-end: 11;
    grid-column-end: 3;

}

#item-13 {

    background-color: white;
    grid-row-start: 9;
    grid-column-start: 1;

    grid-row-end: 10;
    grid-column-end: 3;

}

#item-14 {

    background-color: white;
    grid-row-start: 8;
    grid-column-start: 1;

    grid-row-end: 9;
    grid-column-end: 3;

}

#item-15 {
    background-image: url("../images/train.png");
    background-repeat: no-repeat;
    background-position: center;
    
    background-color: white;
    grid-row-start: 7;
    grid-column-start: 1;

    grid-row-end: 8;
    grid-column-end: 3;

}

#item-16 {

    background-color: white;
    grid-row-start: 6;
    grid-column-start: 1;

    grid-row-end: 7;
    grid-column-end: 3;

}

#item-17 {
    background-image: url("../images/chest.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    grid-row-start: 5;
    grid-column-start: 1;

    grid-row-end: 6;
    grid-column-end: 3;

}

#item-18 {

    background-color: white;
    grid-row-start: 4;
    grid-column-start: 1;

    grid-row-end: 5;
    grid-column-end: 3;

}

#item-19 {

    background-color: white;
    grid-row-start: 3;
    grid-column-start: 1;

    grid-row-end: 4;
    grid-column-end: 3;

}

#item-20 {
    background-image: url("../images/Parking.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;

}

#item-21 {

    background-color: white;
    grid-row-start: 1;
    grid-column-start: 3;

    grid-row-end: 3;
    grid-column-end: 4;

}

#item-22 {
    background-image: url("../images/chance.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 5;

}

#item-23 {

    background-color: white;
    grid-row-start: 1;
    grid-column-start: 5;

    grid-row-end: 3;
    grid-column-end: 6;

}

#item-24 {

    background-color: white;
    grid-row-start: 1;
    grid-column-start: 6;

    grid-row-end: 3;
    grid-column-end: 7;

}

#item-25 {
    background-image: url("../images/train.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 1;
    grid-column-start: 7;

    grid-row-end: 3;
    grid-column-end: 8;

}

#item-26 {

    background-color: white;
    grid-row-start: 1;
    grid-column-start: 8;

    grid-row-end: 3;
    grid-column-end: 9;

}

#item-27 {

    background-color: white;
    grid-row-start: 1;
    grid-column-start: 9;

    grid-row-end: 3;
    grid-column-end: 10;

}

#item-28 {
    background-image: url("../images/water.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 1;
    grid-column-start: 10;

    grid-row-end: 3;
    grid-column-end: 11;

}

#item-29 {

    background-color: white;
    grid-row-start: 1;
    grid-column-start: 11;

    grid-row-end: 3;
    grid-column-end: 12;

}

#item-30 {
    background-image: url("../images/Jail.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 1;
    grid-column-start: 12;

    grid-row-end: 3;
    grid-column-end: 14;

}

#item-31 {

    background-color: white;
    grid-row-start: 3;
    grid-column-start: 12;

    grid-row-end: 4;
    grid-column-end: 14;

}

#item-32 {

    background-color: white;
    grid-row-start: 4;
    grid-column-start: 12;

    grid-row-end: 5;
    grid-column-end: 14;

}

#item-33 {
    background-image: url("../images/chest.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    grid-row-start: 5;
    grid-column-start: 12;

    grid-row-end: 6;
    grid-column-end: 14;

}

#item-34 {

    background-color: white;
    grid-row-start: 6;
    grid-column-start: 12;

    grid-row-end: 7;
    grid-column-end: 14;

}

#item-35 {
    background-image: url("../images/train.png");
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    grid-row-start: 7;
    grid-column-start: 12;

    grid-row-end: 8;
    grid-column-end: 14;

}

#item-36 {
    background-image: url("../images/chance.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    background-color: white;
    grid-row-start: 8;
    grid-column-start: 12;

    grid-row-end: 9;
    grid-column-end: 14;

}

#item-37 {

    background-color: white;
    grid-row-start: 9;
    grid-column-start: 12;

    grid-row-end: 10;
    grid-column-end: 14;

}

#item-38 {
    background-image: url("../images/tax.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: white;
    grid-row-start: 10;
    grid-column-start: 12;

    grid-row-end: 11;
    grid-column-end: 14;

}

#item-39 {

    background-color: white;
    grid-row-start: 11;
    grid-column-start: 12;

    grid-row-end: 12;
    grid-column-end: 14;

}

#item-40 {

    background-color: white;
    grid-row-start: 3;
    grid-column-start: 3;

    grid-row-end: 12;
    grid-column-end: 12;

}