#interface{
    width: 100%;
    height: 100%;
}

#interface__main{
    display: grid;
    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    gap: 10px;
    height: 100%;

}
#interface__history{
    grid-row-start: 1;
    grid-column-start: 1;

    grid-row-end: 3;
    grid-column-end: 3;
}
#interface__current{
    grid-row-start: 1;
    grid-column-start: 3;
    
    grid-row-end: 3;
    grid-column-end: 4;
}

#player__list{
    grid-row-start: 1;
    grid-column-start: 4;

    grid-row-end: 3;
    grid-column-end: 5;
}
#interface__bid__window{
    position: absolute;
    width: 90%;
    height: 90%;
}
.player_info{
    border: 1px solid white;
}

#current__player{
    border: 1px solid white;
}

.player-0{
    color:var(--player-1)
}
.player-1 {
    color: var(--player-2)
}
.player-2 {
    color: var(--player-3)
}
.player-3 {
    color: var(--player-4)
}
p {
    display:inline-block;
}

.interface__auction > *{
    position: absolute;
    width: 70%;
    height: 70%;
    background-color: rgb(113, 113, 113);
}

textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    height: 100%;
    border: 2px solid black;
    font-size: 2vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.player_info:hover .player_info_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}
.player_info_list{
    background-color: white;
    border: 1px solid black;
    display: none;
    position: absolute;
}

.player_info_card{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    border: black solid 1px;  
}

.player_info_field__wraper{
    border: solid #494949 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100px;
    height: 100px;
}
.player_info_field__wraper *{
    font-size: 8pt !important;
}

.ColoredBox-player_list{
    width: 100%;
    height: 20%;
    margin: 0px;
}

.buyField:hover .support_message{
    display: flex;
    justify-content: space-around;
    position: absolute;
}